<div class="container">
  <h2>Attribute Directives -  ngClass and ngStyle</h2>
  <div class="left">
    <div class="buttons">
      <button class="btn" (click)="highlightNumbers(2)" [ngClass]="{ 'active-btn' : active2}" >
        Number divisible by 2
      </button>
      <button class="btn" (click)="highlightNumbers(3)" [ngClass]="{ 'active-btn ': active3}" >
        Number divisible by 3
      </button>
      <button class="btn" (click)="highlightNumbers(5)" [ngClass]="{ 'active-btn': active5}" >
        Number divisible by 5
      </button>
      <button class="btn" (click)="highlightNumbers(7)" [ngClass]="{ 'active-btn' : active7}" >
        Number divisible by 7
      </button>
      <button class="clear" (click)="clearHighlited()" [ngClass]="{ 'btns-clicked' : chosenNumbers.length > 1 }" >
        Clear
      </button>
    </div>
  </div>
  <div class="right">
    <div class="numbers" >
      <p *ngFor="let number of numbers" [ngStyle]="{ color: chosenNumbers.includes(number) ? 'red' : 'black'}"> {{number}} </p>
    </div>
  </div>

</div>