.container {
    display: flex;
    width: 90vw;
    margin: 100px auto;
}
h2 {
    position: fixed;
    top: 0;
    left: 34vw;
}
.left {
    width: 40vw;
    margin-right: 50px;
    padding-right: 30px;
    border-right: 1px solid rgba(230, 229, 229, .8)
}
.right {
    width: 55vw;
}
.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}
.btn, .clear {
    width: 180px;
    background-color: green;
    color: white;
    height: 30px;
    margin: 20px;
    /* box-shadow - offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 6px 8px 5px -1px rgb(108, 99, 99); 
}
.clear {
    background-color: rgb(219, 124, 124);
    box-shadow: 6px 8px 5px -1px rgb(155, 151, 151);
}
.btn:hover, .clear:hover {
    box-shadow: 6px 8px 3px -1px rgb(108, 99, 99);
    border: 2.5px inset rgb(59, 58, 58);
}
p {
    width: 18px;
    margin: 20px 25px;
    font-weight: 600
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 450px
}
.active-btn {
    background-color: darkblue;
    box-shadow: 6px 8px 1px -1px rgb(108, 99, 99);
    border: 3px ridge rgb(59, 58, 58);

}
.btns-clicked {
    background-color: darkred;
}